{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem ipsa eos officia quae assumenda, molestiae esse id a harum dolorum optio tempore distinctio maiores fugit obcaecati nemo excepturi laborum iste!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/naruto.jfif" class="img-thumbnail">
    </div>
</div>